@import "variables";

.button {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin: 0.5rem auto;
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: $elementColor;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.5s;

  &:hover {
    background-color: $elementColorHover;
  }
}
